<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>index</title>
    </head>
    <body>
        <h1>index</h1>
        <a href="http://localhost:8080/admin/add">add</a>
        <a href="http://localhost:8080/admin/del">delete</a>
        <a href="http://localhost:8080/admin/list">list</a>
        <a href="http://localhost:8080/admin/login">login</a>
        <a href="http://localhost:8080/logout">logout</a>
    </body>
</html>