<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head><title>Spring Security Example</title></head>
<body>
    <div th:if="${param.error}">
        Invalid username or password
    </div>
    <div th:unless="${param.error}">
        No error
    </div>
    <div th:if="${param.logout}">
        You have logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div><label> UserName : <input type="text" name="username"/> </label></div>
        <div><label> Password : <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Log in"/></div>
    </form>
</body>
</html>

